@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animations */
@keyframes jump {
  0% {
    transform: translateY(0%) rotate(0deg);
    animation-timing-function: cubic-bezier(.01,1,.99,.99);
  }
  50% {
    transform: translateY(-200%) rotate(180deg);
    animation-timing-function: cubic-bezier(.96,.02,.3,1.2);
  }
  100% {
    transform: translateY(0%) rotate(360deg);
  }
}